.DS_Store
*.pyc
build
dist
.DS_Store
*.local.py
local_settings.py
.project
.pydevproject
.settings
.coverage
MANIFEST
.idea
.vagrant
celerybeat*
*.sw[op]
collected-static/
nohup.out
project/settings/hosts/localhost.py
project/static/css/*.css
project/static/img/sprites/icons-*.png
