boto
amqp
amqplib
celery
dj-database-url
Django
django-celery
django-debug-toolbar
django-extensions
django-grappelli
django-require
django-storages
django-tastypie
Fabric
gevent
gunicorn
ipython
kombu
newrelic
paramiko
psycopg2
pycrypto
python-dateutil
pytz
redis
requests
SQLAlchemy
Werkzeug
